<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.repositoriunidayan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RepositoriUnidayan"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Lihat_pdf"
            android:exported="false" />
        <activity
            android:name=".Cari"
            android:exported="false">

        </activity>
        <activity
            android:name=".Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".List_repository_subjek"
            android:exported="false" />
        <activity
            android:name=".Sub_subjek"
            android:exported="false" />
        <activity
            android:name=".List_repository_koleksi"
            android:exported="false" />
        <activity
            android:name=".Lihat_repository"
            android:exported="false" />
        <activity
            android:name=".List_repository"
            android:exported="false" />
        <activity
            android:name=".Lihat_jurusan"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>